
{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}


    <header>
        <h1>Welcome {{admin[0].ad_username}}</h1>
    </header>

  


<div class="custom-table"></div>

 <table class="custom-table-right">
  <h5 id="active-member">ACTIVE MEMBERS</h5>
  <thead>
    
    <tr>
      <th>name</th>
      <th>phone number</th>
      <th>sport</th>
      <th>status</th>
    </tr>
  </thead>
  <tbody>
    {% for m in active_member %}
  <tr class="table-row">
    <td>
      {{m.cl_Fname}} {{m.cl_Lname}}
    </td>
    <td>{{m.cl_num}}</td>
    <td>
      {{m.sp_name}}
    </td>
    <td> <span class="status-badge active-badge">active</span>
    </td>
  </tr>
  {% endfor %}
</tbody>
 </table>
  <!-- Add more rows as needed -->

<div class="custom-table-left">
  <table><tr>
    <td coslpan="2"><h5 id="title">TODAY EVENTS  </h5> </td></tr><tr>
      {% for event in current_events.values() %}
      {% if event[0] == current_day %}
      <tr><td>
     <h6> {{event[1]}} :</h6></td><td class="time"> {{event[2]}}-{{event[3]}}</td>
      </tr>                 
     {% endif %}
                     
      
      
    
  {% endfor %}</td></tr></table>
</div>



{% endblock %}
