{% extends "layout.html" %}

{% block title %}
    Coaches
{% endblock %}



{% block main %}
{% if success %}
<div class="alert alert-success" role="alert">{{success}}</div>
{%elif error %}
<div class="alert alert-danger" role="alert">{{error}}</div>
{% endif %}
<h2 id="coaches">Sports</h2>
<h3 id="add_coach">Add Sport</h3>
<div clas="table-container"></div>
<table class="table table-striped" id="coaches_table">
    <thead>
      <tr>

        <th scope="col">Name</th>
        <th scope="col">Maximum Capacity</th>
        <th scope="col">Coached By</th>
   

         
        <th scope="col">Action</th>
      </tr>
      {% for c in coaching_view %}
      <tr>
        <td>{{c.sp_name}} </td>
        <td>{{c.max_capacity}}</td>
        <td>{{c.coach_list}}</td>

        <td id="buttons">  
          <button type="button" class="custom-button"  data-bs-toggle="modal" data-bs-target="#edit{{loop.index}}" id="edit" >Edit</button> 
           <button type="button" class="custom-button"  data-bs-toggle="modal" data-bs-target="#delete{{loop.index}}" id="delete" >Delete</button>
          
          
           <!-- Modal edit-->
               <div class="modal fade" id="edit{{loop.index}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <!-- Modal edit -->
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Edit {{c.sp_name}}</h5>
                        <button type="button"  class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                          
                        </button>
                      </div>
                      <div class="modal-body">
                        <table  width="100%" id="event">
                          <form action="/sport" method=post>
                            <div class="form-group">
                              <input hidden name="form_id" value="formsp-edit-withcoach">
                              
                              <input hidden name="sp_id" value="{{c.sp_id}}">
                          <input hidden name="sp_name" value="{{c.sp_name}}">
                              <label for="exampleInputname">Sport Name</label>
                              <input type="text" class="form-control" name="sp_name" id="exampleInputname" aria-describedby="emailHelp" placeholder="Enter Sport Name" >
                              
                            </div>
                            <br>
                            <div class="form-group">
                              <label for="exampleInputmax">Sport Maximum Capacity</label>
                              <input type="text" class="form-control" name="max_capacity" id="exampleInputmax" placeholder="Enter max member capacity" value="{{c.max_capacity}}">
                            </div>
                            <br>
                         
                          
                            </div>
                            <br>
                         
                          
                        
                        </table>   
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Edit</button>
                    </form> 
                    </div>
                    </div>
                  </div>
            </div>
            <!-- model delete-->
            <div class="modal fade" id="delete{{loop.index}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Delete {{c.sp_name}}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                      
                    </button>
                  </div>
                  <div class="modal-body">
                    <div class="alert alert-warning" role="alert">
                      Are you sure you want to delete this Sport ?
                    </div>
                    
                    <form action="/sport" method="post" id="myForm">
                      <input type="hidden" name="sp_id" value="{{c.sp_id}}">
                      <input type="hidden" name="form_id" value="formsp-delete">
                    
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Delete</button>
                  </form>
                </div>
                </div>
              </div>
            </div>
          </td>
      </tr>
      {% endfor %}
      {% for s in sports_with_no_coach %}
      <tr>
        <td>{{s.sp_name}} </td>
        <td>{{s.max_capacity}}</td>
        <td>-</td>
        <td id="buttons">  
          <button type="button" class="custom-button"  data-bs-toggle="modal" data-bs-target="#edit_wom{{loop.index}}" id="edit" >Edit</button> 
           <button type="button" class="custom-button"  data-bs-toggle="modal" data-bs-target="#delete_wom{{loop.index}}" id="delete" >Delete</button>
          <!-- Modal edit without coach-->
          <div class="modal fade" id="edit_wom{{loop.index}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <!-- Modal edit -->
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Edit {{s.sp_name}}</h5>
                    <button type="button"  class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                      
                    </button>
                  </div>
                  <div class="modal-body">
                    <table  width="100%" id="event">
                      <form action="/sport" method=post>
                        <div class="form-group">
                          <input hidden name="form_id" value="formsp-edit-withoutcoach">
                          <input hidden name="sp_id" value="{{s.sp_id}}">
                          <input hidden name="sp_name" value="{{s.sp_name}}">
                          <label for="exampleInputname">Sport Name</label>
                          <input type="text" class="form-control" name="sp_name" id="exampleInputname" aria-describedby="emailHelp" placeholder="Enter Sport Name" value="{{s.sp_name}}">
                          
                        </div>
                        <br>
                        <div class="form-group">
                          <label for="exampleInputmax">Sport Maximum Capacity</label>
                          <input type="text" class="form-control" name="max_capacity" id="exampleInputmax" placeholder="Enter max member capacity" value="{{s.max_capacity}}">
                        </div>
                        <br>
                        <h6>Add Coach</h6>
                        <div class="mb-3">
                          
                          <label for="selectOption" id="label">Select a Coach:</label>
                          <select class="form-control" id="sp_name" name="co_id">
                            <option value="">˅</option>
                            {% for co in coach %}
                            
                            <option value="{{co.co_id}}" >{{co.co_Fname}} {{co.co_Lname}}</option>
                            {% endfor %}
                          </select>
                        </div>
                 
                        <div class="form-group">
                          <label for="exampleInputPassword1">starts_at</label>
                          <input type="date" class="form-control" name="starts_at" id="exampleInputPassword1" >
                        </div>
                        <div class="form-group">
                          <label for="exampleInputPassword1">ends_at</label>
                          <input type="date" class="form-control" name="ends_at" id="exampleInputPassword1" >
                        </div>
                        </div>
                
                        <br>
                     
                      
                    
                    </table>   
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Edit</button>
                </form> 
                </div>
                </div>
              </div>
        </div>
          <!-- model delete-->
          <div class="modal fade" id="delete_wom{{loop.index}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Delete {{s.sp_name}}</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    
                  </button>
                </div>
                <div class="modal-body">
                  <div class="alert alert-warning" role="alert">
                    Are you sure you want to delete this Sport ?
                  </div>
                  
                  <form action="/sport" method="post" id="myForm">
                    <input type="hidden" name="sp_id" value="{{s.sp_id}}">
                    <input type="hidden" name="form_id" value="formsp-delete">
                  
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <button type="submit" class="btn btn-primary">Delete</button>
                </form>
              </div>
              </div>
            </div>
          </div>
          </td>
      </tr>
      {% endfor %}

    </thead>
    <tbody>
</table>


<table id="coaches_form">
<tr><td>
  <!--add-->
    <form action="/sport" method=post>
        <div class="form-group">
          <input hidden name="form_id" value="formsp-add">
          <label for="exampleInputname">Sport Name</label>
          <input type="text" class="form-control" name="sp_name" id="exampleInputname" aria-describedby="emailHelp" placeholder="Enter Sport Name" required>
          
        </div>
        <br>
        <div class="form-group">
          <label for="exampleInputmax">Sport Maximum Capacity</label>
          <input type="number" class="form-control" name="max_capacity" id="exampleInputmax" placeholder="Enter max member capacity" required>
        </div>
        <br>
        <h6>Optional</h6>
        <div class="mb-3">
          <label for="selectOption" id="label">Select a Coach:</label>
          <select class="form-control" id="sp_name" name="co_id">
            <option value="">˅</option>
            {% for co in coach %}
            
            <option value="{{co.co_id}}" >{{co.co_Fname}} {{co.co_Lname}}</option>
            {% endfor %}
          </select>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">starts_at</label>
          <input type="date" class="form-control" name="starts_at" id="exampleInputPassword1" >
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">ends_at</label>
          <input type="date" class="form-control" name="ends_at" id="exampleInputPassword1" >
        </div>
        </div>
        <br>

        <button type="submit" class="btn btn-primary">Add</button>
      
    </form>
</td></tr>
</table>
</div>
{% endblock %}
