/* Size for brand */
nav .navbar-brand
{
    font-size: xx-large;
    background-color: #333;
   
    
    text-align: center;
    padding: 10px;
    border-radius: 8px;

}
.collapse, .navbar-collapse
{
    
  
    text-align: center;
    padding: 10px;
    border-radius: 8px;
}
/* Colors for brand */
nav .navbar-brand .blue
{
    color: #537fbe;
}
nav .navbar-brand .red
{
    color: #ea433b;
}
nav .navbar-brand .yellow
{
    color: #f5b82e;
}
nav .navbar-brand .green
{
    color: #2e944b;
}
#select
{
    margin-top:5%;
    margin-bottom:5%;
}
/*.btn-default
{
    padding-top: 1%;
    padding-bottom: 1%;
    margin-bottom: 2%;
}*/
h2
{
    
    margin-bottom: -5%;
    margin-right: 80%;
}
#add
{
    margin-top: 3%;
    margin-bottom: 3%;
    margin-left:80%;
   
}
.custom-button {
    /*background-color: #3498db; /* Change to the desired background color */
    color: rgb(0, 0, 0); /* Change to the desired text color */
    border: none;
    padding: 8px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
    margin-right:1%;

    
}
.custom-button:hover {
    color: #e74c3c;
    transform: translateY(-5px); /* Move the button up by 5px on hover */
}
#view
{
    border: 2px solid #42db34;
}
#edit
{
    border: 2px solid #00d9ff;
}
#delete
{
    border: 2px solid #ff0000;
}
#add_m
{
    color:black;
    text-decoration: none;
    margin-right:80%;
}
td
{
   /* border: solid black;*/
    padding:20px;
}
span > ul > li
{
    text-align: left;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
    
    
   
    /*border: solid black;*/
   
    
}
span > ul
{
    /*border: solid black;*/
    float:left;
    width:28%;
}
#member_detail
{
    float:left;
    margin-left:10px;
    padding-left:10px;
    width:70%;
    /*border: solid black;*/

}
.title{
    text-align:left;   
    
}
/* Badge Styles */
.status-badge {
    
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 14px;
    font-weight: bold;
    
    
  }
  
 
  .active-badge {
    background-color:green;
    color: rgb(226, 226, 226);
  }
  .inactive-badge {
    background-color: rgb(199, 35, 35);
    color: rgb(226, 226, 226);
  }
 .no_membership
 {
    background-color: rgb(176, 172, 172);
    color: rgb(0, 0, 0);
 }
 #add_membership
{
   
    margin-bottom: 3%;
    margin-left:100%;
    
   
}
#add_n_m
{
    width: 50%;
    
    padding: 5px 10px;
    border-radius: 15px;
    font-size: 14px;
    font-weight: bold;
    text-align:left;
}
#deletem
{
    border: 2px solid #ff0000;
    
    
}
#buttons
{
    margin-left:0%;
    text-align:middle;
}
#no_m_buttons
{
    margin-left:-30.5%;
    
}
#schedule, table[id="schedule"] td, table[id="schedule"] th
{
    border-collapse: collapse;
    
}   
#schedule
{
    float:right;
    margin-right:3%;
    margin-top:2%;
    width:90%;
    height:100%;
}


table[id="schedule"] td, table[id="schedule"] th
{
    width: 14.2857%;
    border: 1px solid #000000;
    
}
table[id="schedule"] td
{
    height:12em;
    
   background-color: #d3d3d3;
   border:1px solid black;
   
}
.date
{
    text-align: right;
    float:right;
    width:30%;
    /*border:solid black;*/
    margin-bottom:100%;
    color:black;
    
    
}
#events
{
    
    width:100%;
    /*border:solid black;*/
    margin-left:0%;
    padding-left:0%;
    margin-top: 30%;
    padding-top: 0%;
    color:black;
}
ul[id="events"] li
{
    /*border:solid black;*/
    width:100%;
    text-align: left;
    padding-left:0px;
    padding-top:0;
    padding-bottom: 20%;
    margin-top:-20%;
}
a{
    text-decoration: none;
    color:hsl(0, 0%, 100%);
}
a:hover 
{
    color:rgb(0, 213, 255);
}
#schedule_button
{
    float: none;
    width:10em;
    height:13em;
    padding: 0 0;
    margin-top:-10%;
    margin-bottom:-10%;
    margin-right:-50%;
    margin-left:-40%;
    border: none;  


   
    background-color:#cfcfcf;
  
    
}


/* Add hover effect to the buttons */
#schedule_button:hover {
    background-color: #cdcdcd;
}
#event td
{
    background-color: white;
   
}
ul[id="events"] 
{
    padding-left: 0%;
    padding-bottom:100%;
    
    /*border: solid black;*/
}
.btn-group{
    margin-top:15px;
}
.table-container
{
    display:flex;
}
#coaches_table
{
    
    width:68%;
    float:right;
    margin-top:0%;
    border:solid black;
    flex:1;
}
#coaches_form
{
   
    width:30%;
    float:left;
    border: solid black;
    flex:1;
    
}
#add_coach
{
    text-align:left;
    margin-top:2.5%;
}
#coaches
{
    margin-left:32%;
}
label 
{
    float:left;
    
    margin-bottom: 2%;
}
.custom-table
{
    display:flex;
    
}
/* Style the custom table */
.custom-table-right{
   
    float:right;
    flex:1;
    width:60%;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 3px 10px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    margin-right:1%;
    margin-top:2%;
  }
  .custom-table-right:hover{
    margin-top:1.3%;
    margin-right:1%;
  }

 
  .custom-table-left{

    float:left;
    flex:1;
    width: 37%;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 3px 10px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    margin-top:-4.5%;

  }
  .custom-table-left:hover{
    margin-top:-4%;
  } 
  /* Style the table rows */

  
  /* Style alternate rows differently for a zebra effect */
  .table-row:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  /* Hover effect on rows */
  .table-row:hover {
    background-color: #e0e0e0;
  }
  
  /* Reset some default browser styles */


/* Style the header */
header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
    border-radius: 8px;
}


nav a {
    text-decoration: none;
    color: white;
}

/* Style the main content */
main {
    padding: 20px;
}

/* Style sections */
section {
    margin-bottom: 20px;
}
#button_cal
{
    margin-top:78%;
    
    display:block;
}
.time {
    font-size: 17px;
    font-weight: bold; 
    color: #433535; 
    background-color: #cfffc4; 
    margin-bottom:5px;
    border-radius: 5px; /* Round the corners of the time element */
    display: inline-block; /* Ensure the time element doesn't break onto a new line */
}
#title
{
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
    border-radius: 8px;
}
#active-member
{
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
    border-radius: 8px;
    float:right;
    flex:1;
    width:60%;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 3px 10px 4px rgba(0, 0, 0, 0.1);
    margin-right:1%;
    margin-top:2%;
}